<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LevyGameProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MenuSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MenuSystem.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LevyGameProject.Properties.Settings>
            <setting name="upInput" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="downInput" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="speedUp" serializeAs="String">
                <value>RightArrow</value>
            </setting>
            <setting name="speedDown" serializeAs="String">
                <value>LeftArrow</value>
            </setting>
            <setting name="highscore" serializeAs="String">
                <value>0</value>
            </setting>
        </LevyGameProject.Properties.Settings>
        <MenuSystem.Properties.Settings>
            <setting name="upInput" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="downInput" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="rightInput" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="leftInput" serializeAs="String">
                <value>D</value>
            </setting>
        </MenuSystem.Properties.Settings>
        <MenuSystem.Settings>
            <setting name="upInput" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="downInput" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="rightInput" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="leftInput" serializeAs="String">
                <value>D</value>
            </setting>
        </MenuSystem.Settings>
    </userSettings>
</configuration>